<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.0/cytoscape.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Canvas.js') }}"></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <title>EGGSS</title>
</head>
<body>
    <div class="heading">
        <h1>EGGSS</h1>
    </div>
   
    <div class="menu">
        <div class="dropdown">
            <button onclick="dropdown()"class="menu_btn new">New</button>
            <div id="myDropdown" class="dropdown-content">
                <button onclick="newDirected()" class="dropdown_directed">Directed</button>
                <button onclick="newUndirected()" class="dropdown_undirected">Undirected</button>
            </div>

        </div>
        
        
        <button class="menu_btn import" >Import</button>
        <button class="menu_btn export" onclick="exportGraph()">Export</button>
    </div>

    <div class="graph_editor">
        <!-- <h3 class="label">Graph Editor</h3> -->
        <div class="editor_menu 1">
            <button onclick="addVertexTop()"><i class="new_vertex"></i>Vertex</button>
            <button onclick="addEdgeTop()"><i class="new_dedge"></i>Edge</button>
            <!-- <button onclick="addEdgeTop()"><i class="new_uedge"></i>Undirected Edge</button> -->
            <button onclick="deleteTop()"><i class="new_uedge"></i>Delete</button>
            <button onclick="addText()"><i class="new_text"></i>Text</button>
            <input type="text" id="label-input" class="hidden-input">
        </div>
        <div class = "top" id="cy">
            <script type="text/javascript" src="{{ url_for('static', filename='js/Cytoscape.js') }}"></script>

        </div>
    </div>

    <!-- <div class="production_designer">
        <h3 class="label">Production Designer</h3>
        <div class="editor_menu 2">
            <button onclick="addVertexBottom()"><i class="new_vertex"></i>Vertex</button>
            <button onclick="addEdgeBottom()"><i class="new_dedge"></i>Directed Edge</button>
            <button onclick="addEdgeBottom()"><i class="new_uedge"></i>Undirected Edge</button>
            <button onclick="addTextBottom()"><i class="new_text"></i>Text</a>
        </div>
        <div class = "bottom" id="cy">
            

        </div>
    </div> -->

</body>
</html>